* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.section {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-primary {
  color: white;
  font-size: 6.4rem;
  text-align: center;
}

.heading-secondary {
  font-size: 4.8rem;
  color: var(--text-dark-blue);
  line-height: 1.2;
}

:root {
  --main-color: #009cde;
  --background-dark-color: #002f43;
  --cta-background-color: #002f43c1;
  --text-dark-blue: #002a3c;
  --purple-color: #6e00de;
  --light-background-color: #e6f5fc6a;
}
