.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 3.6rem;
  background-color: white;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.nav-link {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link-text {
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.2rem 0rem;
  color: var(--text-dark-blue);
}

.nav-drop-down-svg {
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-drop-down-svg-rotation {
  transform: rotate(180deg);
  margin-top: -0.5rem;
}

.nav-btn {
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--main-color);
  color: var(--text-dark-blue);
}

.nav-btn:hover {
  background-color: var(--background-dark-color);
  color: white;
}

.nav-drop-down-menu {
  position: absolute;
  top: 4rem;
  left: 0;
  padding: 1.2rem;
  background-color: var(--main-color);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}

.nav-drop-down-menu-width-1 {
  width: 23.5rem;
}

.nav-drop-down-menu-width-2 {
  width: 11rem;
}

.nav-drop-down-menu-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav-drop-down-menu-ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.nav-drop-down-text {
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s;
}
