.section-3 {
  background-color: var(--light-background-color);
  padding: 4.2rem 0rem;
}

.section-3-grid {
  display: grid;
  grid-template-columns: 40% 60%;
}

.section-3-text-div {
  padding: 9.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.section-3-text-div p {
  font-size: 1.4rem;
  color: var(--text-dark-blue);
}

.section-3-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-3-img-inner-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-3-img {
  width: 80%;
  border-radius: 10px;
}

.section-3-shape-animation-1 {
  position: absolute;
  top: -10%;
  border-top-right-radius: 10px;
  right: 0;
  height: 20rem;
  width: 20rem;
  z-index: -1;
  background-color: var(--purple-color);
  opacity: 0;
  transition: all 0.5s;
  transform: scale(0.1);
}

.section-3-shape-animation-2 {
  position: absolute;
  bottom: -10%;
  border-bottom-left-radius: 10px;
  left: 0;
  height: 20rem;
  width: 20rem;
  z-index: -1;
  background-color: var(--purple-color);
  opacity: 0;
  transition: all 0.5s;
  transform: scale(0.1);
}

.section-3-shape-animation-active {
  opacity: 1;
  transform: scale(1);
}
