.section-2 {
  background-color: var(--background-dark-color);
  padding: 9.6rem 0rem;
}

.section-2-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2.4rem;
}

.section-2-div {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
  padding-left: 2.2rem;
  padding-right: 10rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5rem;
}

.section-2-left-div {
  background-color: #f7fcff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.section-2-right-div {
  background-color: var(--main-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-right: 12rem;
}

.section-2-heading {
  color: #001016;
  font-size: 1.6rem;
}

.section-2-div p {
  font-size: 3.2rem;
  margin-top: 5rem;
  color: #001016;
}

.section-2-btn {
  width: fit-content;
  padding: 1.2rem 4.2rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
}

.section-2-left-btn {
  background-color: var(--background-dark-color);
  color: white;
  border: 2px solid var(--main-color);
}

.section-2-right-btn {
  background-color: white;
  color: var(--background-dark-color);
  border: 2px solid var(--background-dark-color);
}

.section-2-right-btn:before {
  content: url("/public/svg/arrow-forward-right.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: #002f4385;
  transform: scale(0);
  border-radius: 0 50% 50% 0;
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}

.section-2-left-btn:before {
  content: url("/public/svg/arrow-forward-right.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.897);
  transform: scale(0);
  border-radius: 0 50% 50% 0;
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}

.section-2-btn:hover {
  text-indent: 30px;
}

.section-2-btn:hover:before {
  transform: scale(1);
  text-indent: 0;
}
